.idea

/logs/crashes.txt
/database/icons/users
/database/icons/groups
/database/images

/node_modules
/gateway/node_modules
/uploads
.env
.combined.log

/cipher/build
/cipher2

.DS_Store
.vscode/c_cpp_properties.json
/cert
/microservices/Files/uploads
combined.log

/TEST/constants.js